<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8b466">  <td>20/01/14 18:26:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstScenario.setUp()[pri:0, instance:tests.FirstScenario@39c0f4a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>20/01/14 18:27:03</td>   <td>15548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario.validateHomePage()[pri:0, instance:tests.FirstScenario@39c0f4a]">validateHomePage</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>20/01/14 18:27:04</td>   <td>16950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario.navigateToCareersPage()[pri:1, instance:tests.FirstScenario@39c0f4a]">navigateToCareersPage</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>20/01/14 18:27:09</td>   <td>21744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario.navigateToCanadianOpportunities()[pri:2, instance:tests.FirstScenario@39c0f4a]">navigateToCanadianOpportunities</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>20/01/14 18:27:12</td>   <td>24700</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstScenario.tearDown()[pri:0, instance:tests.FirstScenario@39c0f4a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
</table>
