<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegressionAutomation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f9dd6">  <td>20/01/14 19:52:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario.navigateToCanadianOpportunities()[pri:2, instance:tests.FirstScenario@7a46a697]">navigateToCanadianOpportunities</td> 
  <td>main@578866604</td>   <td></td> </tr>
<tr bgcolor="8f9dd6">  <td>20/01/14 19:52:27</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario.navigateToCareersPage()[pri:1, instance:tests.FirstScenario@7a46a697]">navigateToCareersPage</td> 
  <td>main@578866604</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>20/01/14 19:52:28</td>   <td>356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ThirdScenario.searchForTorontoEngineeringJobs()[pri:0, instance:tests.ThirdScenario@574caa3f]">searchForTorontoEngineeringJobs</td> 
  <td>main@578866604</td>   <td></td> </tr>
<tr bgcolor="8f9dd6">  <td>20/01/14 19:52:27</td>   <td>-310</td> <td>&nbsp;</td><td title="&gt;&gt;FirstScenario.setUp()[pri:0, instance:tests.FirstScenario@7a46a697]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@578866604</td>   <td></td> </tr>
<tr bgcolor="8e8867">  <td>20/01/14 19:52:27</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SecondScenario.setUp()[pri:0, instance:tests.SecondScenario@5cbc508c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@578866604</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>20/01/14 19:52:27</td>   <td>222</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ThirdScenario.setUp()[pri:0, instance:tests.ThirdScenario@574caa3f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@578866604</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>20/01/14 19:52:28</td>   <td>356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ThirdScenario.validateAllTorontoEngineeringJobs()[pri:1, instance:tests.ThirdScenario@574caa3f]">validateAllTorontoEngineeringJobs</td> 
  <td>main@578866604</td>   <td></td> </tr>
<tr bgcolor="8e8867">  <td>20/01/14 19:52:27</td>   <td>181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecondScenario.validateAllTorontoJobs()[pri:1, instance:tests.SecondScenario@5cbc508c]">validateAllTorontoJobs</td> 
  <td>main@578866604</td>   <td></td> </tr>
<tr bgcolor="8f9dd6">  <td>20/01/14 19:52:27</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario.validateHomePage()[pri:0, instance:tests.FirstScenario@7a46a697]">validateHomePage</td> 
  <td>main@578866604</td>   <td></td> </tr>
</table>
